<!DOCTYPE html>

<app-header>
</app-header>

<router-outlet>
</router-outlet>


<!-- Start Footer  -->
<div class="footer">
    <div class="contaner">
        <div class="col">
            <h2>About Us</h2>
            <p>Reach out to our team of designers and builders today for your no-obligation 3D rendering and proposal.!</p>
            <span class="fabwasom">
                    <a href="#"><i class="fab fa-facebook-square  fa-lg fa-fw"></i></a>
                </span>
            <span class="fabwasom">
                    <a href="#"><i class="fab fa-google-plus-square  fa-lg fa-fw"></i></a>

                </span>
            <span class="fabwasom">
                   <a href=""><i class="fab fa-twitter-square  fa-lg fa-fw"></i></a>
                </span>

        </div>


        <div class="col tags">
            <h2>Tags</h2>
            <span>Design</span>
            <span>Build</span>
            <span>Remodeling</span>
            <span>COMMERCIAL</span>
        </div>
        <div class="col resent">
            <h2>Resent posts</h2>
            <div>
                <img src="../../../assets/all_Images/images1.jpg" alt="">
                <h4>Build</h4>
            </div>
            <div>
                <img src="../../../assets/all_Images/images.jpg" alt="">
                <h4>COMMERCIAL</h4>
            </div>
            <div>
                <img src="../../../assets/all_Images/VanSchendel-.jpg" alt="">
                <h4>Design</h4>
            </div>
        </div>

        <div class="col blog">
            <h2>Blog</h2>
            <ul>
                <li>Agency</li>
                <li>Business</li>
                <li>Multi purpose</li>
                <li>Audio</li>
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="copyright">Copyright &copy; 2021; All right Recirved</div>
    </div>

</div>
<!-- End Footer  -->
